<div class = "table_width">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>今週の投稿</th>
        <th>前週の投稿</th>
        <th>前週比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%#= today_book.count %></td>
        <td><%= books.past_week_count %></td>
    　   <td>

        </td>
      </tr>
    </tbody>
  </table>
</div>